.carousel {
  position: relative;
  padding: 150px 0;
  &__inner {
    position: relative;
    width: 750px;
    margin: 0 auto;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #fff;
    img{
      width: 31px;
      height: 50px;
    }
  }
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    right: 485px;
    background-color: #fff;
    img{
      width: 31px;
      height: 50px;
    }
  }
}

