.pageup {
  display: block;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  transition: 0.5s all;
  opacity: 0;
  z-index: -200;
  img {
    width: 100%;
  }

}

.visible {
  opacity: 1;
  z-index: 200;
}